{% extends 'base.html' %}

{% block head %} Application {% endblock %}

{% block body %}

<div id="circles" class=" row center" data-route="{{ url|safe }}" data-server-media-url="{{ media_service_url|safe }}">

    <section class="pcb-side col-xs-12 col-sm-9 col-md-9 col-lg-9 center">
        <div class="video-capture ">
            <img id = "camera-img" class="rounded center pallet-img" src="{{ media_service_url|safe }}/img1.jpeg" alt="pallet img">
        </div>
        
        <div id="image-on" >
            <div class="pcb1 col-xs-10 col-sm-5 col-md-5">
                <!-- Left -->
                <img id = "left-img" class=" pcb-img " src="{{ media_service_url|safe }}/left.jpg" alt="PCB img left">
            </div>
            <div class="pcb2 col-xs-10 col-sm-5 col-md-5">
                <!-- Right -->
                <img id = "right-img"class="  pcb-img " src="{{ media_service_url|safe }}/right.jpg" alt="PCB img right">
            </div>

        </div>      
        <div id="image-off" >
            <div class="pcb1 col-xs-10 col-sm-5 col-md-5">
                <!-- Left -->
                <div class="spinner-border text-light img-spinner " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="pcb2 col-xs-10 col-sm-5 col-md-5">
                <!-- Right -->
                <div class="spinner-border text-light img-spinner " role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

        </div>      
        <div id="image-none" >
            <div class="pcb1 col-xs-10 col-sm-5 col-md-5">
                <!-- Left -->
                <div class="pcb-img"></div>
            </div>
            <div class="pcb2 col-xs-10 col-sm-5 col-md-5">
                <!-- Right -->
                <div class="pcb-img"></div>
            </div>

        </div>      

    </section>


    <section class="table-side col-xs-12 col-sm-3 col-md-3 col-lg-3">

        <table class="table table-striped component-table ">
            <thead class="component-table-bar">
                <tr>
                    <th scope="col">Componente</th>
                    <th scope="col">Left</th>
                    <th scope="col">Right</th>
                </tr>
            </thead>
            <tbody>
                <tr class="component-table-white">
                    <th id = "component-name-1" scope="row">---</th>
                    <td> <i id = "left-status-1" class="bi bi-hourglass-split"></i></td>
                    <td> <i id = "right-status-1" class="bi bi-hourglass-split"></i></td>
                </tr>
                <tr class="component-table-gray">
                    <th id = "component-name-2" scope="row">---</th>
                    <td> <i id = "left-status-2" class="bi bi-hourglass-split"></i> </td>
                    <td> <i id = "right-status-2" class="bi bi-hourglass-split"></i> </td>
                </tr>
                <tr class="component-table-white">
                    <th id = "component-name-3" scope="row">---</th>
                    <td> <i id = "left-status-3" class="bi bi-hourglass-split"></i> </td>
                    <td> <i id = "right-status-3" class="bi bi-hourglass-split"></i> </td>
                </tr>
                <tr class="component-table-gray">
                    <th id = "component-name-4" scope="row">---</th>
                    <td> <i id = "left-status-4" class="bi bi-hourglass-split"></i> </td>
                    <td> <i id = "right-status-4" class="bi bi-hourglass-split"></i> </td>
                </tr>
                <tr class="component-table-white">
                    <th id = "component-name-5" scope="row">---</th>
                    <td> <i id = "left-status-5" class="bi bi-hourglass-split"></i> </td>
                    <td> <i id = "right-status-5" class="bi bi-hourglass-split"></i> </td>
                </tr>
                <tr class="component-table-gray">
                    <th  id = "component-name-6" scope="row">---</th>
                    <td> <i id = "left-status-6" class="bi bi-hourglass-split"></i> </td>
                    <td> <i id = "right-status-6" class="bi bi-hourglass-split"></i> </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- inicialização -->
    <script>
        // background color
        document.body.style.backgroundColor = "#17a2b8";



        // PCB img
        let imageOn = document.getElementById("image-on");
        imageOn.style.display = "none"

        let imageOff = document.getElementById("image-off");
        imageOff.style.display = "none"

        let imageNone = document.getElementById("image-none");
        imageNone.style.display = "block"

    </script>

</div>

    <script>    
        
        // SCRIPT DE INTERAÇÃO COM O BACK-END
        let URL = document.getElementById('circles').getAttribute("data-route");
        let MEDIA_SERVICE_URL = document.getElementById('circles').getAttribute("data-server-media-url");
        console.log("MEDIA URL" + MEDIA_SERVICE_URL)
        let intervalID = window.setInterval(getData, 1000, URL);

        let cameraImg = document.getElementById("camera-img");
        let leftImg = document.getElementById("left-img");
        let rightImg = document.getElementById("right-img");

        let componentName1 = document.getElementById("component-name-1");
        let leftStatus1 = document.getElementById("left-status-1");
        let rightStatus1 = document.getElementById("right-status-1");

        let componentName2 = document.getElementById("component-name-2");
        let leftStatus2 = document.getElementById("left-status-2");
        let rightStatus2 = document.getElementById("right-status-2");

        let componentName3 = document.getElementById("component-name-3");
        let leftStatus3 = document.getElementById("left-status-3");
        let rightStatus3 = document.getElementById("right-status-3");

        let componentName4 = document.getElementById("component-name-4");
        let leftStatus4 = document.getElementById("left-status-4");
        let rightStatus4 = document.getElementById("right-status-4");

        let componentName5 = document.getElementById("component-name-5");
        let leftStatus5 = document.getElementById("left-status-5");
        let rightStatus5 = document.getElementById("right-status-5");

        let componentName6 = document.getElementById("component-name-6");
        let leftStatus6 = document.getElementById("left-status-6");
        let rightStatus6 = document.getElementById("right-status-6");

        let backColor = "blue";

        function getData(URL) {          
            fetch(URL)
            .then(res => res.json())
            .then((data) => {                        
            // console.log(dict)
            console.log(data["task_id"])
            console.log(data["task_state"])
            console.log(data["data"]) 


            if(data["data"]['step']) {

                switch (data["task_state"]){
                    case 'INITIALIZING':
                        document.body.style.backgroundColor = "#17a2b8";
                        backColor = "blue";
                        cameraImg.src = cameraImg.src;
                        break;

                    case 'READY FOR THE ACTION!':
                        document.body.style.backgroundColor = "#17a2b8";
                        backColor = "blue";
                        cameraImg.src = cameraImg.src;
                        break;

                    case 'WHY DID YOU LEFT ME?':
                        document.body.style.backgroundColor = "#000000";
                        backColor = "white";
                        imageOn.style.display = "none"
                        imageOff.style.display = "none"
                        imageNone.style.display = "block"
                        break;

                    case 'DETECTION IN PROGRESS...':
                        document.body.style.backgroundColor = "#17a2b8";
                        backColor = "blue";

                        // Atualizando o estado da tabela
                        leftStatus1.className = "bi bi-hourglass-split";
                        rightStatus1.className = "bi bi-hourglass-split";

                        leftStatus2.className = "bi bi-hourglass-split";
                        rightStatus2.className = "bi bi-hourglass-split";

                        leftStatus3.className = "bi bi-hourglass-split";
                        rightStatus3.className = "bi bi-hourglass-split";

                        leftStatus4.className = "bi bi-hourglass-split";
                        rightStatus4.className = "bi bi-hourglass-split";

                        leftStatus5.className = "bi bi-hourglass-split";
                        rightStatus5.className = "bi bi-hourglass-split";

                        leftStatus6.className = "bi bi-hourglass-split";
                        rightStatus6.className = "bi bi-hourglass-split";


                        imageOn.style.display = "none"
                        imageOff.style.display = "block"
                        imageNone.style.display = "none"
                        break;

                    case "PCBS WERE NOT FOUND!":
                        document.body.style.backgroundColor = "#dd4b39";
                        backColor = "red";
                        break;

                    case 'SHOW TIME!':
                        document.body.style.backgroundColor = "#28a745";
                        backColor = "green";

                        
                        // preenchendo a tabala com os status dos componentes
                        for(let key in data["data"]['components']) {
                            switch (key){

                                // Linha 1
                                case '0':

                                    componentName1.textContent = data["data"]['components'][key][2];

                                    // left
                                    if (data["data"]['components'][key][0] == 0){
                                        leftStatus1.className = "bi bi-check-circle-fill check"; 

                                    }else if (data["data"]['components'][key][0] == 1){
                                        leftStatus1.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }


                                    }else if (data["data"]['components'][key][0] == 3){
                                        leftStatus1.className = "bi bi-x-circle-fill wrong";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }
                                   
                                    // right
                                    if (data["data"]['components'][key][1] == 0){
                                        rightStatus1.className = "bi bi-check-circle-fill check";

                                    }else if (data["data"]['components'][key][1] == 1){
                                        rightStatus1.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][1] == 3){
                                        rightStatus1.className = "bi bi-x-circle-fill wrong"; 
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    break;


                                // Linha 2
                                case '1':

                                    componentName2.textContent = data["data"]['components'][key][2];

                                    // left
                                    if (data["data"]['components'][key][0] == 0){
                                        leftStatus2.className = "bi bi-check-circle-fill check"; 

                                    }else if (data["data"]['components'][key][0] == 1){
                                        leftStatus2.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][0] == 3){
                                        leftStatus2.className = "bi bi-x-circle-fill wrong";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    // right
                                    if (data["data"]['components'][key][1] == 0){
                                        rightStatus2.className = "bi bi-check-circle-fill check";
                                        
                                    }else if (data["data"]['components'][key][1] == 1){
                                        rightStatus2.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][1] == 3){
                                        rightStatus2.className = "bi bi-x-circle-fill wrong"; 
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    break;

                                // Linha 3
                                case '2':
                                    
                                    componentName3.textContent = data["data"]['components'][key][2];

                                    // left
                                    if (data["data"]['components'][key][0] == 0){
                                        leftStatus3.className = "bi bi-check-circle-fill check"; 

                                    }else if (data["data"]['components'][key][0] == 1){
                                        leftStatus3.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][0] == 3){
                                        leftStatus3.className = "bi bi-x-circle-fill wrong";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    // right
                                    if (data["data"]['components'][key][1] == 0){
                                        rightStatus3.className = "bi bi-check-circle-fill check";
                                        
                                    }else if (data["data"]['components'][key][1] == 1){
                                        rightStatus3.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][1] == 3){
                                        rightStatus3.className = "bi bi-x-circle-fill wrong"; 
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    break;


                                // Linha 4
                                case '3':
                                   
                                    componentName4.textContent = data["data"]['components'][key][2];

                                    // left
                                    if (data["data"]['components'][key][0] == 0){
                                        leftStatus4.className = "bi bi-check-circle-fill check"; 

                                    }else if (data["data"]['components'][key][0] == 1){
                                        leftStatus4.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][0] == 3){
                                        leftStatus4.className = "bi bi-x-circle-fill wrong";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    // right
                                    if (data["data"]['components'][key][1] == 0){
                                        rightStatus4.className = "bi bi-check-circle-fill check";
                                        
                                    }else if (data["data"]['components'][key][1] == 1){
                                        rightStatus4.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][1] == 3){
                                        rightStatus4.className = "bi bi-x-circle-fill wrong"; 
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    break;

                                
                                // Linha 5
                                case '4':

                                    componentName5.textContent = data["data"]['components'][key][2];

                                    // left
                                    if (data["data"]['components'][key][0] == 0){
                                        leftStatus5.className = "bi bi-check-circle-fill check"; 

                                    }else if (data["data"]['components'][key][0] == 1){
                                        leftStatus5.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][0] == 3){
                                        leftStatus5.className = "bi bi-x-circle-fill wrong";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    // right
                                    if (data["data"]['components'][key][1] == 0){
                                        rightStatus5.className = "bi bi-check-circle-fill check";
                                        
                                    }else if (data["data"]['components'][key][1] == 1){
                                        rightStatus5.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][1] == 3){
                                        rightStatus5.className = "bi bi-x-circle-fill wrong"; 
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    break;

                                // Linha 6
                                case '5':

                                    componentName6.textContent = data["data"]['components'][key][2];

                                    // left
                                    if (data["data"]['components'][key][0] == 0){
                                        leftStatus6.className = "bi bi-check-circle-fill check"; 

                                    }else if (data["data"]['components'][key][0] == 1){
                                        leftStatus6.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][0] == 3){
                                        leftStatus6.className = "bi bi-x-circle-fill wrong";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    // right
                                    if (data["data"]['components'][key][1] == 0){
                                        rightStatus6.className = "bi bi-check-circle-fill check";
                                        
                                    }else if (data["data"]['components'][key][1] == 1){
                                        rightStatus6.className = "bi bi-exclamation-octagon-fill warning";
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }

                                    }else if (data["data"]['components'][key][1] == 3){
                                        rightStatus6.className = "bi bi-x-circle-fill wrong"; 
                                        if (backColor != "red"){
                                            backColor == "red";
                                            document.body.style.backgroundColor = "#dd4b39";
                                        }
                                    }

                                    break;

                                default: 
                                    console.log("ERROR on Component switch.");
                            }
                        }
                        
                        
                        leftImg.src = MEDIA_SERVICE_URL + "/left.jpg?cache=" + new Date().getTime();;
                        rightImg.src = MEDIA_SERVICE_URL + "/right.jpg?cache=" + new Date().getTime();;

                        imageOn.style.display = "block"
                        imageOff.style.display = "none"
                        imageNone.style.display = "none"


                        break;

                    default:
                        alert("ERROR on state task switch")

                }

 
                // document.getElementById("steps").innerHTML = "#" + data["data"]['step'];
            }
          })
          .catch(err => { throw err });
        }    
    </script>

{% endblock %}
